.App {
  font-family: "Roboto";
}

h1, p {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 2rem 1rem;
  color: white;
  background-color: #B31312;
  display: flex;
}

img {
  height: 60px;
  margin-right: 1rem;
}

footer {
  text-align: center;
  padding: 2rem 0rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2B2A4C;
  color: white;
}

a:link, a:hover, a:visited {
  color: white
}